.Paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
}

.Paginator-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 6px;
  border: 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  user-select: none;
  outline: none;
  background: #000;
  color: #fff;
}

.Paginator-next,
.Paginator-previous {
  cursor: pointer;
}

.Paginator-hidden {
  visibility: hidden;
}

.Paginator-current {
  width: 36px;
  height: 36px;
  background: rgba(0, 0, 0, 0.5);
}
